main {
  background: $gradientCard;
  @include columnFlex;
  gap: 15px;
  min-height: 90vh;
  position: relative;
  padding-bottom: 5px;

  h2 {
    text-align: center;
    font-family: $fontExo;
    position: relative;

    @media screen and (max-width: 810px) {
      font-size: 1rem;
    }

    .fa-icon {
      position: absolute;
      font-size: 1rem;
      top: 25%;
      right: -30px;

      @media screen and (max-width: 810px) {
        display: none;
      }
    }
  }

  .infos {
    @include columnFlex;
    grid-gap: 15px;
    @include regularFont;
    font-size: 0.95rem;
    font-family: $fontDos;

    .bubble-title {
      font-family: $fontMerri;
      font-size: 1.2rem;
      width: 175px;
      text-align: center;
      margin: $marginCenter;
      padding: 5px 3px;
      background: $colorG2;
      border-radius: 10px;
    }

    .info-content-top {
      display: grid;
      grid-template-columns: 20% 80%;

      @media screen and (max-width: 810px) {
        @include columnFlex;
      }

      .img-container {
        @include imgContainer;
        margin: $marginCenter;
        width: 90%;

        img {
          width: 50%;
          border-radius: 15px;
          border: 1px solid $colorB;
          box-shadow: $boxShadowCard;

          @media screen and (max-width: 810px) {
            width: 35%;
          }
        }
      }

      .about-me-container {
        @include bubble;
        padding: 20px;
        width: 82.5%;
        display: grid;
        grid-template-columns: 50% 50%;

        & > .anim-intro-in {
          animation: glowIn 1.4s $easeout forwards;

          @keyframes glowIn {
            to {
              background: $colorW;
            }
          }
        }

        & > .anim-intro-out {
          background: $colorW;
          animation: glowOut 0.7s $delayOut $easeout forwards;

          @keyframes glowOut {
            to {
              background: transparent;
            }
          }
        }

        .introduction {
          @include columnFlex;
          gap: 10px;
          padding: 10px 5px;
          border-radius: 12px;

          p {
            width: 90%;
            text-align: center;

            span.open-classrooms-in {
              animation: colorInOc 0.3s 0.3s $easeout forwards;

              @keyframes colorInOc {
                to {
                  color: $colorOc;
                }
              }
            }
            span.open-classrooms-out {
              animation: colorOutOc 0.3s $delayOut $easeout forwards;
              color: $colorOc;

              @keyframes colorOutOc {
                to {
                  color: initial;
                }
              }
            }

            span.diplome-in {
              animation: colorInDp 0.8s 1s $easeout forwards;

              @keyframes colorInDp {
                to {
                  color: $colorL;
                }
              }
            }

            span.diplome-out {
              color: $colorL;
              animation: colorOutDp 0.5s $delayOut $easeout forwards;

              @keyframes colorOutDp {
                to {
                  color: initial;
                }
              }
            }
          }

          ul.information {
            display: flex;
            flex-direction: column;

            li {
              h5 {
                font-size: 0.9rem;

                span.anim-info-in {
                  position: relative;
                  animation: wordColorIn 0.5s 0.4s $easeout forwards;

                  @keyframes wordColorIn {
                    to {
                      color: $colorO;
                    }
                  }

                  &::after {
                    content: "";
                    background: $colorO;
                    position: absolute;
                    border-radius: 10px;
                    width: 0;
                    height: 2px;
                    left: 0;
                    bottom: -2px;
                    animation: underlineIn 0.5s 0.4s $easeout forwards;
                    transform-origin: left;
                  }

                  @keyframes underlineIn {
                    to {
                      width: 98%;
                    }
                  }
                }

                span.anim-info-out {
                  position: relative;
                  color: $colorO;
                  animation: wordColorOut 0.8s $delayOut $easeout forwards;

                  @keyframes wordColorOut {
                    to {
                      color: initial;
                    }
                  }

                  &::after {
                    content: "";
                    background: $colorO;
                    position: absolute;
                    border-radius: 10px;
                    width: 98%;
                    height: 2px;
                    left: 0;
                    bottom: -2px;
                    animation: underlineOut 0.8s $delayOut $easeout forwards;
                    transform-origin: left;
                  }

                  @keyframes underlineOut {
                    to {
                      width: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .anim-in {
        animation: glow2In 1.4s $easeout forwards;

        @keyframes glow2In {
          to {
            background: $colorW;
          }
        }
      }

      .anim-out {
        background: $colorW;
        animation: glow2Out 0.7s $delayOut $easeout forwards;

        @keyframes glow2Out {
          to {
            background: transparent;
          }
        }
      }
      .parcours {
        @include columnFlex;
        padding: 10px 5px;
        border-radius: 12px;
        position: relative;

        & > h3.bubble-title {
          position: absolute;
          top: 8.5px;
        }

        p {
          width: 90%;
          line-height: 30px;

          span.passion-in {
            animation: wordColorIn1 0.6s 0.5s $easeout forwards;

            @keyframes wordColorIn1 {
              to {
                color: $colorR;
              }
            }
          }

          span.dev-web-in {
            animation: wordColorIn2 0.6s 1s $easeout forwards;
            @keyframes wordColorIn2 {
              to {
                color: $colorR;
              }
            }
          }

          span.passion-out {
            animation: wordColorOut1 0.2s $delayOut $easeout forwards;
            color: $colorR;
            @keyframes wordColorOut1 {
              to {
                color: initial;
              }
            }
          }

          span.dev-web-out {
            color: $colorR;
            animation: wordColorOut2 0.4s $delayOut $easeout forwards;
            @keyframes wordColorOut2 {
              to {
                color: initial;
              }
            }
          }
        }
      }
    }

    .why-me-container {
      @include flexContainer;
      @include bubble;

      @media screen and (max-width: 810px) {
        min-width: 83%;
      }

      p {
        font-size: 1rem;
        width: 95%;
        text-align: center;

        span.curieux-in {
          animation: colorWordIn1 0.5s 1s $easeout forwards;

          @keyframes colorWordIn1 {
            to {
              color: $colorO;
            }
          }
        }

        span.curieux-out {
          color: $colorO;
          animation: colorWordOut1 0.5s 0.2s $easeout forwards;

          @keyframes colorWordOut1 {
            to {
              color: initial;
            }
          }
        }

        span.rigoureux-in {
          animation: colorWordIn2 0.5s 1.5s $easeout forwards;
          @keyframes colorWordIn2 {
            to {
              color: $colorO;
            }
          }
        }

        span.rigoureux-out {
          color: $colorO;
          animation: colorWordOut2 0.5s 0.6s $easeout forwards;
          @keyframes colorWordOut2 {
            to {
              color: initial;
            }
          }
        }

        span.autonome-in {
          animation: colorWordIn3 0.5s 2s $easeout forwards;
          @keyframes colorWordIn3 {
            to {
              color: $colorO;
            }
          }
        }

        span.autonome-out {
          animation: colorWordOut3 0.5s 0.6s $easeout forwards;
          color: $colorO;
          @keyframes colorWordOut3 {
            to {
              color: initial;
            }
          }
        }
      }
    }
  }
}
