main {
  background: $gradientCard;
  @include columnFlex;
  gap: 15px;
  min-height: 100vh;
  position: relative;
  padding-bottom: 5px;

  h2 {
    text-align: center;
    font-family: $fontExo;
    position: relative;

    @media screen and (max-width: 810px) {
      font-size: 1rem;
    }

    .fa-icon {
      position: absolute;
      font-size: 1rem;
      top: 25%;
      right: -30px;

      @media screen and (max-width: 810px) {
        display: none;
      }
    }
  }

  .infos {
    @include columnFlex;
    grid-gap: 15px;
    @include regularFont;
    font-family: $fontDos;

    .info-content-top {
      display: grid;
      grid-template-columns: 30% 70%;

      @media screen and (max-width: 810px) {
        @include columnFlex;
      }

      .img-container {
        @include imgContainer;
        @include columnFlex;
        justify-content: space-evenly;
        margin: $marginCenter;
        width: 90%;

        @media screen and (max-width: 810px) {
          gap: 10px;
          margin-bottom: 10px;
        }

        img,
        span {
          margin-left: 50px;

          @media screen and (max-width: 810px) {
            margin-left: 0;
          }
        }

        span {
          font-size: 1.1rem;
          font-weight: 500;
        }

        img {
          width: 50%;
          border-radius: 15px;
          border: 1px solid $colorB;
          box-shadow: $boxShadowCard;

          @media screen and (max-width: 810px) {
            width: 35%;
          }
        }
      }

      // .intro-right {
      //   @include columnFlex;
      //   width: 86%;
      //   gap: 10px;

      //   .intro-part {
      //     display: flex;
      //     background: $colorCard;
      //     box-shadow: $boxShadowCard;
      //     border-radius: 15px;
      //     gap: 15px;

      //     @media screen and (max-width: 1260px) {
      //       font-size: 0.8rem;
      //       line-height: 22px;
      //     }

      //     @media screen and (max-width: 1140px) {
      //       padding: 15px;
      //     }

      //     @media screen and (max-width: 810px) {
      //       line-height: 25px;
      //       font-size: 1rem;
      //     }

      //     img {
      //       width: 160px;
      //       height: 125px;
      //       border-radius: 15px 0 0 15px;

      //       @media screen and (max-width: 1260px) {
      //         width: 140px;
      //         height: 115px;
      //       }

      //       @media screen and (max-width: 1140px) {
      //         display: none;
      //       }
      //     }

      //     .text-content {
      //       @include flexContainer;
      //       p {
      //         text-align: center;

      //         span#open-classroom, span#from-scratch {
      //           font-weight: 700;
      //         }

      //         span#open-classroom {
      //           color: $colorOc;
      //         }

      //         span#from-scratch {
      //           color: $colorFs;
      //         }
      //       }
      //     }
      //   }
      // }
    }

    .intro-card {
      @include flexContainer;
      background: $colorCard;
      box-shadow: $boxShadowCard;
      padding: 14px;
      border-radius: 12px;
      width: 80%;
      min-height: 150px;

      @media screen and (max-width: 810px) {
        min-width: 83%;
      }


      p {
        font-size: 1rem;
        width: 95%;
        text-align: center;

        span#alternance {
          color: $colorR;
          font-weight: 700;
        }
      }
    }
  }
}
